<div class="content-section">
    <h2>Testimonios</h2>
    <p>Algunas opiniones de las muchas personas que formaron parte de nuestros proyectos. ¡Gracias por eso!</p>
  
    <blockquote>
      <p>Realmente impactó que ellos hayan visto la obra como algo por lo cual se identificaban, logró despertar muchas emociones. Fue algo muy impresionante hasta una sorpresa.</p>
      <footer>- Irene Ortega, Sub Dir. Inst. Blue Valley School (Costa Rica)</footer>
    </blockquote>
  
    <blockquote>
      <p>Lo que más me gustó es que lo tratan desde el humor. A veces, cuando las cosas son tan duras en la adolescencia, el humor hace que todo sea más tolerable y para empezar a hablar es un buen método.</p>
      <footer>- Leandro Graciano, Dir. Inst. Santa Ana (Argentina)</footer>
    </blockquote>
  
    <blockquote>
      <p>Ha sido una experiencia muy agradable para los alumnos de nuestras escuelas, quienes tuvieron la oportunidad de presenciar esta obra y ver expuestos temas importantes para el desarrollo integral del ser humano.</p>
      <footer>- Teresa De Jesus, Supervisora Zona Esc. 101 (México)</footer>
    </blockquote>
  </div>
  