<div class="content-section">
    <h2>Nuestro Equipo</h2>
    <p>Formado por grandes actores, excelentes profesionales y por sobre todo buenas personas.</p>
  
    <h3>Maxi Belcastro</h3>
    <p><strong>Dirección General</strong><br>Coordinación general de equipos de trabajo.</p>
  
    <h3>Mariela Escalada</h3>
    <p><strong>Directora Gabinete Psicopedagógico</strong><br>Coordinadora psicopedagógica, encargada del armado de actividades teóricas.</p>
  
    <h3>Braian Graziuso</h3>
    <p><strong>Dirección de Casting</strong><br>Coordinación de actores, ensayos y puesta en escena.</p>
  </div>
  